<form method="post" action="{{ path('delete_medicine_from_cart', {'id': medicine.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medicine.id) }}">
    <button class="btn">Delete</button>
</form>
