<form method="post" action="{{ path('app_custom_delete', {'id': custom.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ custom.id) }}">
    <button class="btn">Delete</button>
</form>
