{% extends 'base.html.twig' %}

{% block title %}Edit Custom{% endblock %}

{% block body %}
    <h1>Edit Custom</h1>

    {{ include('custom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_custom_index') }}">back to list</a>

    {{ include('custom/_delete_form.html.twig') }}
{% endblock %}
