{% block body %}
    <h1>Больницы</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Город</th>
                <th>Телефон</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for hospital in hospitals %}
            <tr>
                <td>{{ hospital.name }}</td>
                <td>{{ hospital.city }}</td>
                <td>{{ hospital.phone }}</td>
                <td>{{ hospital.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}