{% extends 'base.html.twig' %}

{% block title %}PH{% endblock %}

{% block body %}
    <a href="{{ path('app_medicine_index') }}">Medicines</a>
    <a href="{{ path('app_doctor_index') }}">Doctors</a>

{% endblock %}
