{% extends 'base.html.twig' %}

{% block title %}Edit Contains{% endblock %}

{% block body %}
    <h1>Edit Contains</h1>

    {{ include('contains/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contains_index') }}">back to list</a>

    {{ include('contains/_delete_form.html.twig') }}
{% endblock %}
