{% extends 'base.html.twig' %}

{% block title %}New Contains{% endblock %}

{% block body %}
    <h1>Create new Contains</h1>

    {{ include('contains/_form.html.twig') }}

    <a href="{{ path('app_contains_index') }}">back to list</a>
{% endblock %}
